<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <servlet>
    <description></description>
    <display-name>ClientActions</display-name>
    <servlet-name>ClientActions</servlet-name>
    <servlet-class>servlets.ClientActions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientActions</servlet-name>
    <url-pattern>/ClientActions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpPage</servlet-name>
    <servlet-class>servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpPage</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Product</display-name>
    <servlet-name>Product</servlet-name>
    <servlet-class>servlets.Products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCars</servlet-name>
    <servlet-class>servlets.AddToCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCars</servlet-name>
    <url-pattern>/AddToCards</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>servlets.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StartupServlet</servlet-name>
    <servlet-class>loader.StartupServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ClearSession</display-name>
    <servlet-name>ClearSession</servlet-name>
    <servlet-class>servlets.ClearSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearSession</servlet-name>
    <url-pattern>/ClearSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CutomerDetail</display-name>
    <servlet-name>CutomerDetail</servlet-name>
    <servlet-class>servlets.CutomerDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CutomerDetail</servlet-name>
    <url-pattern>/CutomerDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BulkProductUpdate</display-name>
    <servlet-name>BulkProductUpdate</servlet-name>
    <servlet-class>servlets.BulkProductUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BulkProductUpdate</servlet-name>
    <url-pattern>/BulkProductUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyingProduct</display-name>
    <servlet-name>BuyingProduct</servlet-name>
    <servlet-class>servlets.BuyingProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyingProduct</servlet-name>
    <url-pattern>/BuyingProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductBuying</display-name>
    <servlet-name>ProductBuying</servlet-name>
    <servlet-class>servlets.ProductBuying</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductBuying</servlet-name>
    <url-pattern>/ProductBuying</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadAddToCart</display-name>
    <servlet-name>LoadAddToCart</servlet-name>
    <servlet-class>servlets.LoadAddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAddToCart</servlet-name>
    <url-pattern>/LoadAddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadAddToCartDetails</display-name>
    <servlet-name>LoadAddToCartDetails</servlet-name>
    <servlet-class>servlets.LoadAddToCartDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAddToCartDetails</servlet-name>
    <url-pattern>/LoadAddToCartDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadAddToCartCount</display-name>
    <servlet-name>LoadAddToCartCount</servlet-name>
    <servlet-class>servlets.LoadAddToCartCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAddToCartCount</servlet-name>
    <url-pattern>/LoadAddToCartCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductCount</display-name>
    <servlet-name>ProductCount</servlet-name>
    <servlet-class>servlets.ProductCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCount</servlet-name>
    <url-pattern>/ProductCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataFetcher</display-name>
    <servlet-name>DataFetcher</servlet-name>
    <servlet-class>servlets.DataFetcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataFetcher</servlet-name>
    <url-pattern>/DataFetcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reviews</display-name>
    <servlet-name>Reviews</servlet-name>
    <servlet-class>servlets.Reviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reviews</servlet-name>
    <url-pattern>/Reviews</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>crossError</display-name>
    <filter-name>crossError</filter-name>
    <filter-class>servlets.crossError</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>crossError</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>productDetails</display-name>
    <servlet-name>productDetails</servlet-name>
    <servlet-class>servlets.productDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productDetails</servlet-name>
    <url-pattern>/productDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FieldDetails</display-name>
    <servlet-name>FieldDetails</servlet-name>
    <servlet-class>servlets.FieldDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FieldDetails</servlet-name>
    <url-pattern>/fieldDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FieldDetails</display-name>
    <servlet-name>CustomerDetails</servlet-name>
    <servlet-class>servlets.CutomerDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDetails</servlet-name>
    <url-pattern>/customerDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAddToCart</display-name>
    <servlet-name>UpdateAddToCart</servlet-name>
    <servlet-class>servlets.UpdateAddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddToCart</servlet-name>
    <url-pattern>/UpdateAddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateReviews</display-name>
    <servlet-name>ValidateReviews</servlet-name>
    <servlet-class>servlets.ValidateReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateReviews</servlet-name>
    <url-pattern>/ValidateReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchCustomerReview</display-name>
    <servlet-name>FetchCustomerReview</servlet-name>
    <servlet-class>servlets.FetchCustomerReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchCustomerReview</servlet-name>
    <url-pattern>/FetchCustomerReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressBook</display-name>
    <servlet-name>AddressBook</servlet-name>
    <servlet-class>servlets.AddressBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressBook</servlet-name>
    <url-pattern>/AddressBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerSingleAddress</display-name>
    <servlet-name>CustomerSingleAddress</servlet-name>
    <servlet-class>servlets.CustomerSingleAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSingleAddress</servlet-name>
    <url-pattern>/CustomerSingleAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test1</display-name>
    <servlet-name>Test1</servlet-name>
    <servlet-class>TestFiles.Test1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1</servlet-name>
    <url-pattern>/Test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DefaultAddressBook</display-name>
    <servlet-name>DefaultAddressBook</servlet-name>
    <servlet-class>servlets.DefaultAddressBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultAddressBook</servlet-name>
    <url-pattern>/DefaultAddressBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TotalOrders</display-name>
    <servlet-name>TotalOrders</servlet-name>
    <servlet-class>servlets.TotalOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalOrders</servlet-name>
    <url-pattern>/TotalOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleOrder</display-name>
    <servlet-name>SingleOrder</servlet-name>
    <servlet-class>servlets.SingleOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleOrder</servlet-name>
    <url-pattern>/SingleOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Users</display-name>
    <servlet-name>Users</servlet-name>
    <servlet-class>servlets.Users</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/Users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartsServlet</display-name>
    <servlet-name>ChartsServlet</servlet-name>
    <servlet-class>servlets.ChartsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartsServlet</servlet-name>
    <url-pattern>/ChartsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Charts</display-name>
    <servlet-name>Charts</servlet-name>
    <servlet-class>servlets.Charts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Charts</servlet-name>
    <url-pattern>/Charts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TotalSelleingChart</display-name>
    <servlet-name>TotalSelleingChart</servlet-name>
    <servlet-class>servlets.TotalSelleingChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalSelleingChart</servlet-name>
    <url-pattern>/TotalSelleingChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetailsList</display-name>
    <servlet-name>OrderDetailsList</servlet-name>
    <servlet-class>servlets.OrderDetailsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailsList</servlet-name>
    <url-pattern>/OrderDetailsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleOrderDetails</display-name>
    <servlet-name>SingleOrderDetails</servlet-name>
    <servlet-class>servlets.SingleOrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleOrderDetails</servlet-name>
    <url-pattern>/SingleOrderDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAvailabilityChart</display-name>
    <servlet-name>ProductAvailabilityChart</servlet-name>
    <servlet-class>servlets.ProductAvailabilityChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAvailabilityChart</servlet-name>
    <url-pattern>/ProductAvailabilityChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopDiscountProducts</display-name>
    <servlet-name>TopDiscountProducts</servlet-name>
    <servlet-class>servlets.TopDiscountProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopDiscountProducts</servlet-name>
    <url-pattern>/TopDiscountProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfitOfTheDayChart</display-name>
    <servlet-name>ProfitOfTheDayChart</servlet-name>
    <servlet-class>servlets.ProfitOfTheDayChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfitOfTheDayChart</servlet-name>
    <url-pattern>/ProfitOfTheDayChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewImages</display-name>
    <servlet-name>ViewImages</servlet-name>
    <servlet-class>servlets.ViewImages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewImages</servlet-name>
    <url-pattern>/ViewImages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Venders</display-name>
    <servlet-name>Venders</servlet-name>
    <servlet-class>servlets.Venders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Venders</servlet-name>
    <url-pattern>/Venders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashBoardCharts</display-name>
    <servlet-name>DashBoardCharts</servlet-name>
    <servlet-class>servlets.DashBoardCharts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoardCharts</servlet-name>
    <url-pattern>/DashBoardCharts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Folders</display-name>
    <servlet-name>Folders</servlet-name>
    <servlet-class>servlets.Folders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Folders</servlet-name>
    <url-pattern>/Folders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reports</display-name>
    <servlet-name>Reports</servlet-name>
    <servlet-class>servlets.Reports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reports</servlet-name>
    <url-pattern>/Reports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>servlets.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
</web-app>